*.*
*
!MertensNason*pdf
!README.pdf
!*.f90
!*.m
!*.txt
!*.sh
!*.md
*__genmod*
!/main
!/montecarlo
!/matlabbox
!/fortranbox
!/dataconstruction
!/dataconstruction/*.csv
!/dataconstruction/*.xlsx
!/ucsv
.*
~*
*~
!.gitignore
!*makefile
